@font-face {
  font-family: "text-preset-1";
  src: url("/assets/fonts/static/Figtree-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/static/Figtree-ExtraBold.woff") format("woff"),
    url("/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0px;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "text-preset-2";
  src: url("/assets/fonts/static/Figtree-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/static/Figtree-SemiBold.woff") format("woff"),
    url("/assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "text-preset-3";
  src: url("/assets/fonts/static/Figtree-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/static/Figtree-SemiBold.woff") format("woff"),
    url("/assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "text-preset-3 bold";
  src: url("/assets/fonts/static/Figtree-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/static/Figtree-ExtraBold.woff") format("woff"),
    url("/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0px;
  font-style: normal;
  font-display: swap;
}

:root {
  /* STYLE GUIDE */

  /* COLOR */

  --Yellow: hsl(47, 88%, 63%);

  --White: hsl(0, 0%, 100%);

  --Gray500: hsl(0, 0%, 42%);
  --Gray950: hsl(0, 0%, 7%);

  /* SPACING */

  --spacing200: 24px;
  --spacing150: 12px;
  --spacing100: 8px;
  --spacing50: 4px;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    height: 100dvh;
    width: 100dvw;
}

main{
    background-color: var(--Yellow);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardbox{
    background-color: var(--White);
    max-width: 384px;
    max-height: 522px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing200);
    padding: var(--spacing200);
    border-radius: 20px;
    border:1px solid var(--Gray950);
    outline: 1px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.0477));
}

.cardbox__image{
    height: 200px;
}

.cardbox__image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cardbox__content--category{
    width: 82px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Yellow);
    padding: var(--spacing50) var(--spacing150);
}

.cardbox__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing150);
}

.cardbox__content--category p,
.cardbox__content--publishdate,
.cardbox__content--title,
.cardbox__author--name{
    color: var(--Gray950);
}

.cardbox__content--category p,
.cardbox__author--name{
    font-family: "text-preset-3 bold";
}

.cardbox__content--publishdate,
.attribution{
    font-family: "text-preset-3";
}

.cardbox__content--title{
    font-family: "text-preset-1";
}

.cardbox__content--description{
    font-family: "text-preset-2";
    color: var(--Gray500);
}

.cardbox__author{
    display: flex;
    flex-direction: row;
    gap: var(--spacing150);
    width: 100%;
    align-items: center;
}

.cardbox__author--userpic{
    width: 32px;
    height: 32px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 93dvh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
